# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Environment
.env

# Output Data
output/

# Logs
*.log

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md

wheel_check/
wheel_test/
